<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="csx64.SettingsTestThing" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="csx64.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <csx64.SettingsTestThing>
            <setting name="item" serializeAs="String">
                <value />
            </setting>
        </csx64.SettingsTestThing>
        <csx64.Properties.Settings>
            <setting name="ProcessorBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ProcessorForeColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
        </csx64.Properties.Settings>
    </userSettings>
</configuration>